html {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #d8d8d6;
}

main {
  width: 500px;
  /* overflow: scroll; */
  position: absolute;
}

.balance {
  width: 100%;
  height: 150px;
  background-color: #d55e2d;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dataBalance {
  color: white;
  width: 60%;
}

.mode {
  width: 100px;
  height: 50px;
  background-color: darkblue;
  border-radius: 50px;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.sun,
.moon {
  width: 47px;
  height: 47px;
  background-color: wheat;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sun i,
.moon i {
  font-size: 40px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.circle {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  /* right: 4px; */
  background-color: darkblue;
  transition: right 4s;
}

.chart {
  margin-top: 30px;
  width: 100%;
  /* height: 500px; */
  background-color: #2570bb;
  border-radius: 20px;
}

.wrap {
  padding: 0 10px;
}

.info {
  color: white;
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.canvas {
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 5px;
}

.data {
  height: 100%;
  width: 55px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.showDataOnHover {
  background-color: rgb(41, 34, 34);
  color: wheat;
  margin-bottom: 4px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 3px;
  visibility: hidden;
}

.showData {
  width: 100%;
  height: 20%;
  background-color: rgb(27, 206, 93);
  border-radius: 8px;
}

.conclusion {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  padding: 0 5px 5px 5px;
  line-height: 8px;
}

@media only screen and (max-width: 500px) {
  main {
    width: 400px;
  }

  .data{
    width: 45px;
  }

  .sun, .moon {
    width: 40px;
    height: 40px;
  }

  .sun i, .moon i {
    font-size: 30px;
  }

  .mode {
    height: 44px;
    width: 84px;
  }

  .circle {
    width: 43px;
    height: 43px;
  }
}

@media only screen and (max-width: 400px) {
  main {
    width: 350px;
  }

  .data{
    width: 35px;
  }

  .conclusion {
    font-size: smaller;
  }
}

@media only screen and (max-width: 350px) {
  main {
    width: 300px;
  }

  .data{
    width: 30px;
  }

  .conclusion {
    font-size: x-small;
  }

  .info, .balance, .canvas {
    font-size: small;
  }

  .balance {
    height: 120px;
  }

  #attribution {
    font-size: small;
  }
}

@media only screen and (max-width: 300px) {
  main {
    min-width: 250px;
  }

  .data{
    width: 27px;
  }

  .conclusion {
    font-size: x-small;
  }

  .info {
    font-size: smaller;
    margin-left: 10px;
  }

  .canvas {
    font-size: x-small;
    padding: 10px 3px;
  }

  .balance {
    margin-left: 2px;
    font-size: small;
    height: 120px;
  }

  #attribution {
    font-size: small;
  }

  .sun, .moon {
    width: 30px;
    height: 30px;
  }

  .sun i, .moon i {
    font-size: 20px;
  }

  .mode {
    height: 35px;
    width: 73px;
  }

  .circle {
    width: 32px;
    height: 32px;
  }
}